div, * {
  box-sizing: border-box;
}

div {
  outline: 1px solid rgba(0, 0, 0, 0.125);
}

body, html {
  margin: 0;
  padding: 0;
  color: $colour;
}

body {}

.wrapper {
  padding: $space;

  .wrapper__inner {
    display: flex;
    flex-direction: column;
    width: $width;
    text-align: right;

    .header {
      white-space: nowrap;
      font-weight: bold;
    }

    .calendar {
      width: 100%;
    }
  }
}
