.graph-wrapper {
  width: 100%;
  padding: $space / 2;
  user-select: none;
  position: relative;

  .graph-row {
    width: 100%;
    display: flex;

    .graph-slider {
      position: relative;
      height: $height;
      width: 100%;
      display: flex;
      overflow-y: hidden;
      overflow-x: scroll;
      flex-direction: row-reverse;

      .graph {
        height: 100%;
        display: none;
        flex-shrink: 0;
        flex: 1;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
        background: $graphBackgroundColour;
        cursor: crosshair;

        &.active {
          display: flex;
        }

        .column {
          width: $graphColumnWidth;
          background: $graphBackgroundColour;
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: flex-end;

          .column__inner {
            width: 100%;
            height: 0%;
            transition: height 0.4s;
            background: $graphColumnColour;
          }

          &:hover {
            background: $graphBackgroundSelectedColour;

            .column__inner {
              background: $graphColumnSelectedColour;
            }
          }
        }
      }

      .graph-info {
        @include padding(0.5, 0.25);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        border: $border;
        border-radius: $space / 2;
        background: rgba($white, 0.85);
        font-size: $fontSmall;
        text-align: left;

        &.active {
          opacity: 1;
        }
      }
    }

    .graph-y-axis {
      width: $space * 2;
      height: $height;
      flex-grow: 0;
    }

    .graph-x-axis {
      width: 100%;
      height: $space * 2;
    }
  }

  .graph-contols {
    .control {

    }
  }
}
