// colour
$colour: #080808;
$black: #080808;
$white: #fff;
$grey: #888;
$lightGrey: #ccc;
$graphColumnColour: #22f;
$graphColumnSelectedColour: #44f;
$graphBackgroundColour: #fff;
$graphColumnBackgroundColour: #eee;
$graphBackgroundSelectedColour: #ccf;
$controlBackgroundColour: #ddd;
$scrollBackgroundColour: #ddd;

// sizing
$space: 10px;
$width: 500px;
$height: 240px;
$graphColumnWidth: 8px;
$scrollBarSize: 7px;

// outline
$border: 1px solid $black;

// animation
$transition: 0.3s;

// style
$border: 1px solid $grey;
$borderDashed: 1px dashed rgba($black, 0.5);
